@use "partials/footer.scss";
@use "partials/header.scss";
@use "./index.scss";
@use "./blog.scss";
@use "./productos.scss";



*{margin: 0; padding: 0;}

body{
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(90deg, rgba(213,197,200,1) 0%, rgba(255,219,218,1) 100%);
}

main{
  background-color: #9c7f84;
  margin:auto;
  width: 95%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 2vw;
  border-radius: 2vw;
  text-align: center;
}
