*{margin: 0; padding: 0;}

body{
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(90deg, rgba(213,197,200,1) 0%, rgba(255,219,218,1) 100%);
}

.navbar{
  background: linear-gradient(90deg, rgba(213,197,200,1) 0%, rgba(255,219,218,1) 100%);
  .contenedornavcollapse{
    width: 95%;
    border-radius: 2vw;
    border: 5px solid rgb(204, 129, 141);
    .logoceramique{
      height: 11vw;
      width: 11vw;
      border-radius: 1vw;
      @media (min-width:768px){
        height: 4vw;
        width: 4vw;
        margin-left: 1vw;
      }
    }
  }
  .navnologo{
    text-align: center;
    background-color: rgb(252, 202, 210);
    margin-left: 1vw;
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
    border: 5px solid rgb(233, 92, 115);
    border-radius: 1vw;
  }
}

.footercontainer{
  border: 5px solid gray;
  border-radius: 2vw;
  background-color: rgb(204, 188, 175);
  width: 95%;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;

  .footerlogotexto{
    display:flex;
    align-items:center;
    flex-flow: column;
    text-align: left;
    img{
      margin-bottom:1vw;
    }
    .logoenfooter{
      border-radius: 1vw;
      width: 10vw;
      height: 10vw;
      @media (min-width:768px){
        width:5vw;
        height: 5vw;
      }
    }
    .textofooter{
      font-size: 1.5vw;
      @media (min-width: 768px){
        font-size: 1vw;
      }  
    }
  

  }

  .redesytexto{
    font-size: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "redi redf redt";    
    text-align: center;
    @media (min-width: 768px){
      font-size: 1.4vw;
    }
    #titulo{
      grid-area: titulo;
    }
    #redi{
        grid-area: redi;
    }
    #redf{
        grid-area: redf;
    }
    #redt{
        grid-area: redt;
    }
    #redi, #redf, #redt{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .logosredes{
      width: 5vw;
      height: 5vw;
    }
    div{
      a{
        p{
          font-size: 2.5vw;
          @media (min-width: 768px){
            font-size: 1.2vw;
          }
        }
      }
    }



  }

  .suscripcion{
    text-align: center;
    .titulosub{
      font-size: 3vw;
      @media (min-width: 768px){
        font-size: 1.4vw;
      }
    }
    #mailform{
      display: flex;
      flex-flow: column;
    }
    .inputsub{
      display: block;
      width: 80%;
      height: 3vw;
      margin:auto;
      margin-top: -2vw;
      margin-bottom: 1vw;
      @media (min-width:768px){
        margin-top: 0.5vw;
      }
    }
    .buttonsub{
      font-size: 2.5vw;
      font-weight: bold;
      padding: 0.5vw;
      width:max-content;
      margin:auto;
      margin-top: 1vw;
      @media (min-width:768px){
        font-size: 1.4vw;
      }
    }
  }












  div{
    margin:1vw;
  }
}

main{
  background-color: #9c7f84;
  margin:auto;
  width: 95%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 2vw;
  border-radius: 2vw;
}
.bannerinicio{
    background: linear-gradient(90deg, rgba(119,111,113,1) 0%, rgba(69,57,61,1) 100%);
    width: 95%;
    margin:auto;
    border: 5px solid rgb(28, 24, 51);
    border-radius: 2vw;
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding:3vw;
    @media (min-width:768px){
      width: 75%;
    }
    .textobannerinicio{
      line-height: 4vw;
      @media (min-width:768px){
        line-height: 2.5vw;
      }
    }
    .imagenbanner{
      width: 100%;
      height: 80%;
      align-self: center;
    }
    h1{
      font-size: 5vw;
      font-weight: bolder;
      text-align: right;
      padding-bottom: 3vw;
      background: #34344F;
      background: linear-gradient(to right, #34344F 0%, #1b1819 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p{
      text-align: left;
      font-size: 4vw;
      @media (min-width:768px){
        font-size: 2vw;
      }
    }
    .parrafobanner{
      font-size: 3vw;
      text-align: left;
    }
    .resaltadobanner{
      font-size: 4.5vw;
      font-weight: bolder;
      @media (min-width:768px){
        font-size: 3vw;
      }
    }






}

.displayproductosinicio{
  width: 95%;
  margin:auto;
  margin-top: 2vw;
  text-align: center;
  @media (min-width:768px){
    width: 85%;
  }
  .containerproductos{
    display: block;
    @media (min-width:768px){
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
    }  
    
    


    .articleproducto{
      padding: 1vw;
      .imgproducto{
        border-radius: 2vw;
        border: 3px solid gray;
        width: 60%;
        height: 60%;      
        @media (min-width:768px){
          border-radius: 0.5vw;
          height: 75%;
        }
      }
      p{
        font-size: 4.5;
        font-weight: bold;
      }
    }
    
  }
  h2{
    font-size: 5vw;
    font-weight: bolder;
  }
  p{
    font-size: 4vw;
    @media (min-width:768px){
      font-size: 2vw;
    }
  }
}

.mainblog{
  position:relative;
  margin-bottom: 10vw;
  @media (min-width:768px){
    margin-bottom:2vw;
  }
  .h1blog{
    text-align: center;
  }
  .containerblog{
    width: 95%;
    display: block;
    margin:auto;
    @media (min-width:768px){
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto ;
      grid-template-areas:
      "notamain notasub1"
      "notamain notasub2";
    }
    .notablog{
      text-align: center;
      position:relative;
      margin: 1vw;
      .h2blog{
        display: block;
        position:absolute;
        top:3vw;
        left:3vw;
        z-index: 1;
        background:rgb(212, 90, 111);
        border: 1px solid rgb(212, 90, 111);
        border-radius: 1vw;
        @media (min-width:768px){
          top: 1vw;
          left: 1vw;
        }
      }
      .imgblog{
        height: 100%;
        width:100%;
        position: relative;
        border: 5px solid rgb(61, 39, 39);
      }
    }
  }
  .buttonblogold{
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: -10vw;
    right: 4vw;
    @media (min-width:768px){
      bottom:-2.5vw;
      font-size: 1.5vw;
    }
  }
  #notamain{
    grid-area: notamain;
  }
  #notasub1{
      grid-area: notasub1;
  }
  #notasub2{
      grid-area: notasub2;
  }
}